@model IEnumerable<Data.Access.Layer.Models.Report>

@{
    ViewData["Title"] = "BadgeReportPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>BadgeReportPage</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TempBadge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SignIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SignOut)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TempBadge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SignIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssignTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SignOut)
            </td>
        </tr>
}
    </tbody>
</table>
